.header {
  margin: 19px 36px 16px 45px;
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.inputArea {
  margin-left: 45px;
  .input {
    margin-bottom: 1rem;
    textarea {
      resize: none;
      background: #ffffff;
      outline: none;
      width: 420px;
      height: 55px;
      border: 1px solid #d8d8d8;
      box-sizing: border-box;
      border-radius: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      &[disabled] {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
